.s-header {
  background-color: #f5f5f5;
  border-bottom: 2px solid #eee;
  z-index: 999;
  height: 42px;
  top: 0;
  left: 0;
  right: 0;
}
.s-header .s-nav-menu {
  max-width: 960px;
  box-sizing: border-box;
  margin: 0px auto;
  padding: 6px 0px;
}
.s-logo {
  color: darkorange;
  font-size: 1.2em;
  letter-spacing: 0.005em;
}
.s-logo-sup {
  font-size: 0.5em;
  color: grey;
}
.s-nav-menu .s-right-menu {
  float: right;
}
.s-header .s-nav-menu a {
  color: #080400;
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  letter-spacing: 0.075em;
}
.s-header .s-nav-menu a:hover {
  color: orange;
}
.s-header .s-nav-menu a.active {
  color: green;
}

.s-footer {
  border-top: 2px dotted #cfc0cf;
  margin-top: 3em;
  background-color: #f5f5f5;
}
.s-footer .s-bottom {
  max-width: 960px;
  margin: 5px auto;
  font-size: 0.75em;
}

/* @media (prefers-color-scheme: dark) {
  .s-header, .s-footer {
    background-color: #282a36;
    color: #e4e4e4;
  }
  .s-header {
    border-bottom: 2px solid #282827;
  }
} */
