.s-collect-sum {
  padding: 5px 10px;
  background-color: #f5f7f8;
  border-bottom: 0.5px dashed #ddd;
}
.s-item-info {
  padding: 0px 85px 0px 0px;
  min-height: 85px;
  position: relative;
}
.s-item-info .s-indicator {
  font-size: 0.6em;
  color:seagreen;
}
.s-item-info .s-item-meta {
  color: #aaa;
  font-size: 14px;
}
.s-item-info .s-item-thumb {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  top: 2px;
  right: 0px;
}
.s-collect-content {
  border-bottom: 0px dashed #ddd;
}
.s-edit-collect-box {
  padding: 10px;
  border: 1px dotted #689f38;
}

/* @media (prefers-color-scheme: dark) {
  .s-collect-sum {
    background-color: #353746;
    color: #e4e4e4;
  }
} */
