<div class="s-collect-sum"  *ngIf="collect && item">
  <div class="s-item-info">
    <!-- component in 2 module issue or Circular dependency issue  -->
    <!-- <app-item-min [order]="collect.item_order" [item]="item"></app-item-min> -->
    <sup class="s-indicator" *ngIf="collect.item_order">#{{collect.item_order}}&nbsp;</sup> 
    <a href="{{host_url + '/item/' + item.slug}}" target="_blank" rel="nofollow noopener noreferrer">{{ item.title }}</a>
    <small class="s-item-meta">
      <br>{{item.category}} |&nbsp;{{item.uiid}} |&nbsp;{{item.authors}} |&nbsp;{{item.pub_at}}
      <a [href]="item.url" target="_blank" rel="nofollow noopener noreferrer" *ngIf="item.url">&nbsp;..:::</a>
    </small>
    <span>
      <img class="s-item-thumb" [src]="item.cover" referrerPolicy="no-referrer">
    </span>
  </div>
  <div class="s-collect-content" [innerHTML]="collectContent | md" *ngIf="!showEdit"></div>
  <div *ngIf="canEdit">
    <button nz-button nzType="link" nzSize="small" (click)="onDel()">
      <b style="color:orangered" *ngIf="!showEdit">Delete... </b>
    </button>
    <button nz-button nzType="link" nzSize="small" *ngIf="showEdit; else editbox" (click)="onShowEdit()">Cancel Edit</button>
    <ng-template #editbox>
      <button nz-button nzType="link" nzSize="small" (click)="onShowEdit()">Edit</button>
    </ng-template>
    <div class="s-edit-collect-box" *ngIf="canEdit && showEdit">
      <nz-form-control *ngIf="showEdit">
        <textarea nz-input [(ngModel)]="collectContent" [nzAutosize]="{ minRows: 6 }" placeholder="Compose..., e.g. takeaway, Supports markdown"></textarea>
      </nz-form-control>
      <br>
      <button nz-button class="s-full-width" nzType="primary" (click)="onUpdate()">Update</button>
    </div>
  </div>
</div>
