<div class="s-create-page">
  <div class="s-create-title">
    <b>Submit New </b>
  </div>
  <form nz-form nzLayout="vertical" [formGroup]="createForm" (ngSubmit)="onSubmit()" class="s-create-form">
    <nz-form-label>Title*</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="title" nzAutosize maxlength="64" nzRequired></textarea>
    </nz-form-control>
    <nz-form-label>either Link</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="link" nzAutosize maxlength="255"></textarea>
    </nz-form-control>
    <nz-form-label>or Text Content</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 5 }"></textarea>
    </nz-form-control>
    <nz-form-label>Origin Author(Optional)</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="author" maxlength="32"/>
    </nz-form-control>
    <nz-form-label>Type</nz-form-label>
    <nz-select formControlName="ty" nzRequired>
      <nz-option *ngFor="let cate of itemCates" [nzLabel]="cate" [nzValue]="cate"></nz-option>
    </nz-select>
    <div *ngIf="createForm.value.ty === 'Translate'">
      <nz-form-control>
        <textarea nz-input formControlName="origin_link" nzAutosize maxlength="255" placeholder="Origin Link"></textarea>
      </nz-form-control>
      <nz-form-control>
        <span>Translate To: </span> <input nz-input formControlName="lang" maxlength="32" style="width: 80%;" placeholder="Translate Language"/>
      </nz-form-control>
    </div>
    <br>
    <nz-form-label>Cover Picture(Required for Book)</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="logo" nzAutosize></textarea>
    </nz-form-control>
    <br><br>
    <button nz-button class="s-full-width" nzType="primary" [disabled]="!createForm.valid">Submit</button>
  </form>
</div>
