.s-profile-page {
  padding: 10px 240px 10px 0px;
  position: relative;
}
.s-profile-head {
  background-color: #f6f6f1;
  border-bottom: 1px dashed #03a87c;
  min-height: 60px;
  padding: 5px 10px 5px 10px;
  margin-bottom: 5px;
  position: relative;
}
.s-location {
  color: #828282;
  font-size: 10px;
}
.s-profile-view {
  padding: auto;
  min-height: 400px;
}
.s-profile-side {
  position: absolute;
  top: 10px;
  right: 0;
  width: 220px;
  background-color: #f8faf8;
}
.s-right-avatar {
  background-color: #e5ebe4;
  min-height: 60px;
  padding: 5px;
  position: relative;
}
.s-right-nav {
  padding: 5px 10px;
}
.s-right-nav a {
  color: grey;
  line-height: 28px;
  font-weight: 400;
}
.s-right-nav a:hover {
  color: green;
}
.s-right-nav a.active {
  color: green;
  font-weight: 800;
}
.s-aboutme, .s-user-info, .s-fobar {
  font-size: 0.85em;
}
.s-fo-tag a:hover {
  background-color: #ddd;
  padding: 2px;
  font-size: 1.05em;
}

@media (max-width: 800px) {
  .s-profile-page {
    padding: 10px;
  }
  .s-profile-side {
    position: relative;
    width: 95%;
    padding: 20px;
  }
}

/* @media (prefers-color-scheme: dark) {
  .s-profile-head, .s-profile-side {
    background-color: #353746;
    color: #e4e4e4;
  }
} */
