.s-add-title {
  text-align: center;
}
table.s-add-info {
  padding: 20px;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: #f6f6f1;
  width: 100%;
}
.s-add-info td {
  padding: 10px;
}
.s-add-info tr:nth-child(odd){
  background-color: #f2f2f2;
}
.s-add-info tr:hover {
  background-color: #ddd;
}
