.ss-view-page {
  padding: 20px 240px 20px 120px;
  position: relative;
}
.s-list-item-info {
  padding: 5px 115px 5px 5px;
  min-height: 110px;
  position: relative;
  border-bottom: 1px dashed #ddd;
}
.s-list-item-info .s-list-item-meta {
  color: #aaa;
  font-size: 14px;
}
.s-list-item-info .s-list-item-thumb {
  position: absolute;
  max-width: 100px;
  max-height: 100px;
  top: 2px;
  right: 0px;
}

@media (max-width: 800px) {
  .ss-view-page, .s-list-item-info {
    padding: 10px;
  }
  .s-list-item-info .s-list-item-thumb {
    position: relative;
  }
}
