<div class="ss-view-page">
  <form nz-form [nzLayout]="'inline'" [formGroup]="searchForm" (ngSubmit)="searchItem()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group>
          <input formControlName="keyword" nz-input placeholder="Keyword" style="width:350px;"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <button nz-button nzType="primary" [disabled]="!searchForm.valid">Search</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <br>
  <div class="s-item-list" *ngFor="let item of items">
    <div class="s-list-item-info">
      <!-- <sup class="s-min-indicator" *ngIf="order">#{{order}}&nbsp;</sup>  -->
      <a [href]="to_url + item.slug">{{ item.title }}</a>
      <small class="s-list-item-meta">
        <br>{{item.category}} |&nbsp;{{item.uiid}} |&nbsp;{{item.authors}} |&nbsp;{{item.pub_at}}
      </small>
      <span>
        <img class="s-list-item-thumb" [src]="item.cover" referrerPolicy="no-referrer">
      </span>
    </div>
  </div>
</div>
