<div class="s-edit-mode">
  <b>Now In Edit Mode,  Back to </b>
  <a href="{{host_url + '/rlist/' + rut.slug}}"> view mode</a>
</div>
<div class="s-rut-page" *ngIf="rut">
  <div class="s-rut-view">
    <div class="s-tagbar">
      <button nz-button nzType="link" nzSize="small" (click)="toAddTag()">+Tag:</button>
      <span *ngIf="showAddTag">
        <input nz-input maxlength="42" [(ngModel)]="newTag" name="addtag" style="width: 30%;" placeholder="seperate with ,"/>
        <button nz-button (click)="addOrDelTag()">Add</button>
      </span>
      <span class="s-tag" *ngFor="let tag of tags">
        <a href="{{host_url + '/tag/' + tag.id}}" target="_blank" rel="nofollow noopener noreferrer"><b>{{ tag.tname }}</b></a>
        <span class="s-del-tag" (click)="addOrDelTag(tag.tname)"> x</span>
      </span>
    </div>
    <div class="s-rut-title">
      <h2>{{ rut.title }}</h2>
      <div class="s-rut-meta">
        <span>{{ rut.author }} | {{ rut.renew_at | date }} | including {{ itemCount | plur:"item" }} </span>
        <a [href]="rut.url" target="_blank" rel="nofollow noopener noreferrer" *ngIf="rut.url"> | {{ rut.url | host }}</a>
      </div>
    </div>
    <div class="s-rut-content" [innerHTML]="rut.content | md"></div>
    <div *ngIf="canEdit" class="s-toolbar">
      <button nz-button nzType="link" nzSize="small" *ngIf="canDel" (click)="onDelRut()">
        <b style="color:orangered" *ngIf="!showAddItem">Delete...  </b>
      </button>
      <a [routerLink]="'/rlist/update/' + rut.slug" nz-button nzType="link" nzSize="small">
        {{ editLabel }}
      </a>
      <button nz-button nzType="link" nzSize="small" (click)="onShowAddItem()">
        {{ addLabel }}
      </button>
    </div>
    <div class="s-add-item" *ngIf="showAddItem">
      <app-add-item [rutID]="rutID" [itemnum]="itemCount" [uname]="uname"
                    (added)="afterItemAdded()">
      </app-add-item>
    </div>
    <!-- match collect / item per item_id -->
    <app-collect *ngFor="let c of collects" 
                 [collect]="c" [item]="itemIDs.get(c.item_id)"
                 [uname]="uname" [canEdit]="canEdit">
    </app-collect>
  </div>
  <div class="s-rut-side">
    <h4 class="s-credential-title"><b>Creators' Credential</b></h4>
    <div class="s-credential-body">
      <span>{{ rut.credential }}</span>
    </div>
  </div>
</div>
