<div class="s-create-page">
  <div class="s-create-title">
    <span><b>Submit New Blog: </b></span>
  </div>
  <form nz-form nzLayout="vertical" [formGroup]="updateForm" (ngSubmit)="onUpdate()" class="s-create-form">
    <nz-form-label>Name*</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="aname" nzAutosize maxlength="64" nzRequired></textarea>
    </nz-form-control>
    <nz-form-label>Avatar</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="avatar" nzAutosize maxlength="255" nzRequired></textarea>
    </nz-form-control>
    <nz-form-label>Intro</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="intro" nzAutosize maxlength="255"></textarea>
    </nz-form-control>
    <nz-form-label>Topic</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="topic" maxlength="32" />
    </nz-form-control>
    <nz-form-label>Blog Link*</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="blog_link" nzAutosize maxlength="255"></textarea>
    </nz-form-control>
    <nz-form-label>Blog Host</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="blog_host" maxlength="32"/>
    </nz-form-control>
    <nz-form-label>Twitter Link</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="tw_link" nzAutosize maxlength="255"></textarea>
    </nz-form-control>
    <nz-form-label>GitHub Link</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="gh_link" nzAutosize maxlength="255"></textarea>
    </nz-form-control>
    <nz-form-label>Other Link</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="other_link" nzAutosize maxlength="255"></textarea>
    </nz-form-control>
    <nz-form-control >
      <label nz-checkbox formControlName="is_top">
        <span>This is Top Contributor</span>
      </label>
    </nz-form-control>
    <br><br>
    <button nz-button class="s-full-width" nzType="primary" [disabled]="!updateForm.valid">Submit</button>
  </form>
  <button nz-button nzType="link" nzSize="small" (click)="onDel()">
    <b style="color:orangered">Delete...</b>
  </button>
</div>
  