<div class="s-create-page">
  <div class="s-create-title">
    <span><b>Submit New Article: </b></span>
  </div>
  <form nz-form nzLayout="vertical" [formGroup]="createForm" (ngSubmit)="onSubmit()" class="s-create-form">
    <nz-form-label>title*</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="title" nzAutosize maxlength="64" nzRequired></textarea>
    </nz-form-control>
    <nz-form-label>either Link</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="link" nzAutosize maxlength="255" nzRequired></textarea>
    </nz-form-control>
    <nz-form-label>or Text Content</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="content" nzAutosize></textarea>
    </nz-form-control>
    <nz-form-label>Origin Author</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="author" maxlength="32"/>
    </nz-form-control>
    <br><br>
    <button nz-button class="s-full-width" nzType="primary" [disabled]="!createForm.valid">Create</button>
  </form>
</div>
