<div class="s-auth-page">
  <form nz-form [formGroup]="regForm" (ngSubmit)="onReg()" class="s-auth-form">
    <h2 class="s-form-title">Welcome To Join</h2>
    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="uname" maxlength="16" nzRequired placeholder="Username*" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="email" placeholder="Email: Optional, to Recovery Password Only" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="password" minlength="8" nzRequired placeholder="Password*" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="confirm" nzRequired placeholder="Confirm Password*" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <span>By clicking "Register" you indicate that you have read and agree to the
        <a href="{{host_url + '/about.html#terms'}}" target="_blank" rel="nofollow noopener noreferrer">
          Terms and Policy
        </a>
      </span>
    </nz-form-item>
    <nz-form-item>
      <button nz-button class="s-full-width" nzType="primary" [disabled]="!regForm.valid">Register</button>
    </nz-form-item>
    <a routerLink="/">  Have an account?  To Log In</a>
  </form>
</div>
