<div class="s-auth-page">
  <form nz-form [formGroup]="repswForm" (ngSubmit)="onRePsw()" class="s-auth-form">
    <h2 class="s-form-title">Reset Password</h2>
    <nz-form-item>
      <nz-form-control>
        <textarea nz-input formControlName="token" nzRequired nzAutosize placeholder="Token*: copy from Email"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="re_psw" nzRequired placeholder="New Password*" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <input nz-input type="password" formControlName="confirm" nzRequired placeholder="Confirm Password*" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button class="s-full-width" nzType="primary" [disabled]="!repswForm.valid">Reset Password</button>
    </nz-form-item>
  </form>
</div>
