<div class="s-auth-page">
  <form nz-form [formGroup]="resetForm" (ngSubmit)="onReset()" class="s-auth-form">
    <h2 class="s-form-title">Request Reset Password</h2>
    <nz-form-item>
      <nz-form-control>
        <input nz-input formControlName="uname" maxlength="16" nzRequired placeholder="Username*" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button class="s-full-width" nzType="primary" [disabled]="!resetForm.valid">Send Reset Email</button>
    </nz-form-item>
    <a routerLink="/">Back To Log In</a>
  </form>
</div>
