<div class="s-create-page">
  <form nz-form naLayout="inline" [formGroup]="spForm" (ngSubmit)="onSpider()" class="s-create-form">
    <h2 class="s-form-title">Spider</h2>
    <nz-form-item>
      <nz-select formControlName="to" nzPlaceHolder="rut or item">
        <nz-option *ngFor="let cate of cates" [nzLabel]="cate" [nzValue]="cate"></nz-option>
      </nz-select>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control>
        <textarea nz-input formControlName="url" nzAutosize placeholder="Url"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <button nz-button nzType="primary" [disabled]="!spForm.valid">Spider</button>
    </nz-form-item>
  </form>
  <button nz-button (click)="genStatic()">Generate Static Site</button>
  <button nz-button (click)="genSitemap()">Generate SiteMap</button>
</div>
