<div class="s-add-page">
  <form nz-form nzLayout="vertical" [formGroup]="addForm" (ngSubmit)="onAdd()" class="s-add-form">
    <small *ngIf="showLoading">Loading...</small>
    <!-- cannot call onEnter ?? -->
    <nz-select #slct class="s-full-width" formControlName="item_id"
      nzRequired nzShowSearch nzServerSearch nzAllowClear
      (nzOnSearch)="onSearch($event)" (nzScrollToBottom)="onLoadMoreDone()"
      nzPlaceHolder="*Choose from Items you have done or Search by ISBN">
      <nz-option *ngFor="let item of items" [nzLabel]="item.title" [nzValue]="item.id"></nz-option>
    </nz-select>
    <a routerLink="/item/submit"><small class="s-help-tips"> If Cannot find the Item Currently, You Can Help Submit</small></a>
    <br><br>
    <nz-form-label>The Takeaway from This Item</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 6 }" placeholder="Compose..., Supports markdown"></textarea>
    </nz-form-control>
    <br>
    <button nz-button class="s-full-width" nzType="primary" [disabled]="!addForm.valid">Add To List</button>
  </form>
</div>
