<div class="s-update-page">
  <div class="s-update-title">
    <span>Update Tag: <small class="s-help-tips">{{ tag.tname }}</small></span>
  </div>
  <form nz-form nzLayout="vertical" [formGroup]="tagForm" (ngSubmit)="onUpdate()" class="s-update-form">
    <nz-form-label>Tag Logo Image Link</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="logo" nzAutosize maxlength="255" placeholder="Tag Logo Image Link"></textarea>
    </nz-form-control>
    <nz-form-label>Parent Tag</nz-form-label>
    <nz-form-control>
      <input nz-input formControlName="pname" maxlength="42" placeholder="Parent Tag"/>
    </nz-form-control>
    <nz-form-label>Tag Description</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="intro" maxlength="512" [nzAutosize]="{ minRows: 4 }" placeholder="Tag Description"></textarea>
    </nz-form-control>
    <br>
    <button nz-button class="s-full-width" nzType="primary">Update</button>
  </form>
  <br>
  <a href="{{host_url + '/tag/' + tag.tname}}">Cancel and back</a>
</div>
