body {
  font-family: Lato,Roboto,Open Sans,sans-serif;
  font-size: 18px;
  line-height: 1.8em;
  overflow-wrap: break-word;
}
a {
  color: rgba(0,0,0,.75);
  text-decoration: none;
}
a:hover {
  color: #03a87c;
}
h2, h3, h4 {
  margin: 8px 0;
  line-height: 1.2em;
  font-family: Pontano Sans, Lato, Roboto, Open Sans, serif;
}
p {
  margin: 5px 0;
}
pre {
  background-color: #f0f0f0;
  padding: 5px;
}
blockquote {
  border-left: 3px solid green;
  margin: 5px;
  padding-left: 12px;
}

.full-width {
  width: 100%;
}
.help-tips {
  color: green;
  font-size: 0.8em;
}
.header {
  z-index: 999;
  height: 45px;
  min-width: 400px;
}
.header .nav-menu {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 6px 0px;
}
.logo {
  color: #03a87c;
  font-size: 1.2em;
  letter-spacing: 0.005em;
}
.logo-sup {
  font-size: 0.5em;
  color: grey;
}
.search-box {
  display: inline-block; 
  margin-left: 10px;
}
.search-box .search-text {
  width: 12rem;
  height: 18px;
}
.nav-menu .right-menu {
  float: right;
}
.toolbtn {
  color: #3498db;
  padding: 5px 15px;
  font-size: 12px;
  border: none;
  cursor: pointer;
}
.toolbtn:hover, .toolbtn:focus, #edit-link:hover, #create-link:hover {
  background-color: #2980b9;
  color: white;
}
.menudown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  font-size: 14px;
  min-width: 100px;
  overflow: auto;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
  z-index: 999;
}
.dropdown-content a {
  padding: 2px 5px;
  text-decoration: none;
}
.menudown li {
  list-style-type:none;
}
.menudown li:hover {
  background-color: #cae3f3;
}
.show {
  display: block;
}

.footer {
  margin-top: 3em;
  background-color: #f5f5f5;
  min-width: 400px;
}
.footer .bottom {
  margin: 5px auto;
  font-size: 0.75em;
}
.banner {
  background-color: #fafafa;
  padding: 10px;
}
.banner-view {
  box-sizing: border-box;
  margin: 0px auto;
  padding: 6px 0px;
}
.main-view {
  min-height: 42em;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.header .nav-menu, 
.footer .bottom, 
.banner .banner-view,
.main-view {
  max-width: 960px;
  min-width: 400px;
}

.search-box {
  width: 200px;
}

.main-page {
  padding: 10px 235px 10px 0px;
  position: relative;
}
.page-side {
  position: absolute;
  top: 10px;
  right: 0;
  width: 225px;
  background-color: #fafbfa;
}
.right-title {
  background-color: #e5ebe4;
  padding: 10px;
  font-size: 16px;
}
.right-body {
  padding: 10px;
  font-size: 16px;
}
.link-icon:hover {
  border-bottom: 2px solid #03a87c;
}

.item-sum {
  background-color:#f5f7f8;
  padding: 10px;
  border-bottom: 1px dashed #ddd;
}
section.item-sum:hover {
  background-color:  #fcfdfc;
}
.item-sum .title {
  font-size: 20px;
}
.item-sum .a-meta {
  font-size: 14px;
}

.blog-info {
  padding-right: 45px;
  min-height: 55px;
  position: relative;
}
.blog-thumb {
  position: absolute;
  max-width: 40px;
  max-height: 50px;
  top: 2px;
  right: 0px;
  border-radius: 50%;
}

@media (max-width: 800px) {
  .main-page {
    padding: 10px;
  }
  .page-side {
    position: relative;
    width: 95%;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .item-sum, .tagmeta, .authormeta, .item-info {
    padding: 10px;
  }
  .thumb-box, .operate, .item-thumb {
    position: relative;
  }
  .fobtn, .avatar-thumb {
    position: relative;
    text-align: left;
  }
}

/* @media (prefers-color-scheme: dark) {
  body, .header, .footer {
    background-color: #282a36;
    color: #e4e4e4;
  }
  .page-side, .right-title, .dropdown-content,
  .rut-sum, .rut-view, .collect-sum, .item-info,
  .tagmeta, .authormeta, .item-sum, .item-detail
  {
    background-color: #353746;
    color: #e4e4e4;
  }
  .header, .item-sum, .rut-view .rut-content {
    border-bottom: 2px solid #282827;
  }
  .toolbtn, .orgsrc {
    background-color: #2e2f3b;
  }
  .tagbar .tag {
    background-color: #6b6a6a;
  }
  section.rut-sum:hover {
    background-color:  #3a3d4e;
  }
  pre {
    background-color: rgb(56, 55, 55);
  }
  a {
    color: #e4e4e4;
  }
  img {
    filter: grayscale(30%);
  }
} */
