<div class="s-create-page">
  <div class="s-create-title">
    <span>Add Item: <b>{{ item?.title.slice(0,25) }}</b> To a List</span>
  </div>
  <form nz-form nzLayout="vertical" [formGroup]="tolistForm" (ngSubmit)="onAdd()" class="s-create-form">
    <nz-select #slct class="s-full-width" formControlName="rut_id"
      nzShowSearch nzServerSearch nzAllowClear
      (nzOnSearch)="onSearch($event)" (nzScrollToBottom)="onLoadMore()"
      nzPlaceHolder="Select one list from My Created Lists">
      <nz-option *ngFor="let rut of ruts" [nzLabel]="rut.title" [nzValue]="rut.id"></nz-option>
    </nz-select>
    <a routerLink="/rlist/new"><small class="s-help-tips">Can Also Create a List Now</small></a>
    <br><br>
    <nz-form-label>The Takeaway from Item: <small>{{ item?.title.slice(0,25) }}</small></nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="content" [nzAutosize]="{ minRows: 6 }" placeholder="Compose..., Supports markdown"></textarea>
    </nz-form-control>
    <br>
    <button nz-button class="s-full-width" nzType="primary" [disabled]="!tolistForm.valid">Add To list</button>
  </form>
  <br>
  <a href="{{host_url + '/item/' + item.slug}}"> Cancel and back </a>
</div>
