{% extends "base.html" %}

{%- block title -%} 
{%- if is_new -%} Suggest New Item {%- else -%} Edit Item {%- endif -%}
{%- endblock title -%}

{%- block navMain -%}
<div class="input-nav">
  <span class="input-nav-title">
    {%- if is_new -%} Suggest New Item {%- else -%} Edit Item {%- endif -%}
  </span>
</div>
{%- endblock navMain -%}

{%- block mainview -%}
{%- if is_new -%}
<div class="form-tips">
  > Submit Link to Suggest New Item<button class="toolbtn" onclick="showInputUrl()">>></button>
</div>
<div class="main-page form-page" id="new-form-viaurl">
  <div class="viaurl-form" id="new-via-url">
    <div class="form-wrap">
      <textarea class="input-box" id="new-i-viaurl" rows="1" spellcheck="false" placeholder="Paste a Link"></textarea>
      <button id="new-i-url-btn" class="toolbtn submit-btn" onclick="newItemViaUrl()">
        Submit
      </button>
    </div>
  </div>
</div>
<div class="form-tips">
  > Fill the Form to Suggest New Item
</div>
{%- endif -%}

<div class="main-page form-page" id="new-i-form-page">
  <div class="page-main form-box">
    <section class="form-item-wrap wrap-layout" title="Title">
      <textarea class="input-box form-input-title" id="new-i-title" rows="2" spellcheck="false" placeholder="Title" required></textarea>
    </section>
    <span class="form-tips">Summary</span>
    <section class="form-item-wrap wrap-layout">
      <textarea class="input-box form-input-intro" id="new-i-content" rows="4" spellcheck="false" required></textarea>
    </section>
    <section class="form-item-wrap wrap-layout" title="Link">
      <textarea class="input-box" id="new-i-link" spellcheck="false" placeholder="Link"></textarea>
    </section>
    <section class="form-item-wrap wrap-layout" title="Origin Author">
      <input class="input-box" id="new-i-author" placeholder="Origin Author" />
    </section>
    <span class="form-tips">Select Category and Domain*</span>
    <section class="form-item-wrap wrap-layout">
      <select id="edit-r-ty" class="form-input form-input-select" required>
        <option value="">Select Category</option>
        {%- for c in iCates -%}
        <option value="{{ c }}">{{ c }}</option>
        {%- endfor -%}
      </select>
      <select id="edit-r-topic" class="form-input form-input-select" required>
        <option value="">Select Topic</option>
        {%- for d in iTopics -%}
        <option value="{{ d }}">{{ d }}</option>
        {%- endfor -%}
      </select>
    </section>
  </div>

  <aside class="page-side">
    <input type="hidden" value="{{ csrf_tok }}" id="new-i-csrf" class="csrf-data">
    <section class="form-item-wrap wrap-layout" title="Cover">
      <textarea class="input-box" id="new-i-logo" spellcheck="false" placeholder="Cover"></textarea>
    </section>
    <section class="form-item-wrap wrap-layout" title="Publish Date">
      <input type="date" class="input-box" id="new-i-pub_at" placeholder="Publish Date" />
    </section>
    <span class="form-tips">Add Tag</span>
    <div id="sa-tags-container" class="tags-container"></div>
    <section class="form-item-wrap wrap-layout">
      <input class="input-box" id="new-i-tag" onkeypress="addTag(event, 'new-i-tag')" 
       placeholder="Input then Enter" />
    </section>
    <section class="form-item-wrap wrap-layout">
      <button onClick="newItem()" id="new-i-btn" class="toolbtn form-submit-btn">
        Submit
      </button>
    </section>
  </aside>
</div>
{%- endblock mainview -%}

{%- block ftscript -%}
<script src="/static/0_item.js"></script>
{%- endblock ftscript -%}
