
<div class="banner-bar">
  {%- if topic != "all" && topic != "from" -%}
    <span class="topic-tab-active tab-{{ topic }}">{{ topic }}</span>
  {%- endif -%}
  {%- for t in tys -%}
    {%- if t.trim() == ty.trim() -%}
    <a class="ty-tab-active" href="/collection?ty={{ t }}&tpc={{ topic }}">{{ t }}</a>
    {%- else -%}
    <a class="ty-tab" href="/collection?ty={{ t }}&tpc={{ topic }}">{{ t }}</a>
    {%- endif -%}
  {%- endfor -%}
  <a onclick="openLink('/newitem?for={{ topic }}&as={{ ty }}')" href="javascript:void(0);">
    <small class="help-tips">Suggest An Item...</small>
  </a>
</div>
