<section class="item-sum">
  {%- set a_url = a.link -%}
  <a href ="{{ a_url }}" target="_blank" rel="noopener">
    <b class="title">{{ a.title }}</b>
    <span class="host"> | </span>
    <span style="color: #37a">{{ a_url | safe | host }}</span>
    <div class="meta-sum">{{ a.content | showless(least=256) }}</div>
  </a>
  {%- set logo = a.logo -%}
  {%- if logo -%}
  <span>
    <img class="item-thumb" src="{{ logo }}" referrerPolicy="no-referrer">
  </span>
  {%- endif -%}
  <div class="a-meta">
    <span class="{{ a.ty }}"></span>
    <span class="meta-tag">{{ a.ty }}</span> 
    <span class="badge" style="background-color: #03a87c;"></span>
    <span class="meta-tag">{{ a.author }}</span>
    <span class="{{ 'badge tab-' ~ a.topic }}"></span>
    <span class="meta-tag">{{ a.topic }}</span> &nbsp;&nbsp;
    <a href = "{{'/me/item/update/' ~ a.slug }}">..</a>
  </div>
</section>
