<section class="item-sum">
  {%- set a_url = a.link -%}
  <a href ="{{ a_url }}" target="_blank" rel="noopener">
    <b class="title">{{ a.title }}</b>
    <span class="host"> | </span>
    <span style="color: #37a">{{ a_url | safe | host }}</span>
    <div class="meta-sum">{{ a.content | showless(least=256) }}</div>
  </a>
  {%- set logo = a.logo -%}
  {%- if logo -%}
  <span>
    <img class="item-thumb" src="{{ logo }}" referrerPolicy="no-referrer">
  </span>
  {%- endif -%}
  <div class="a-meta">
    <span class="{{ a.ty }}"></span>
    <span class="meta-tag">{{ a.ty }}</span> 
    <span class="badge" style="background-color: #03a87c;"></span>
    {%- set a_author = a.author | enbase -%}
    <span class="meta-tag"><a href="{{ '/from?by=' ~ a_author }}">{{ a.author }}</a></span>
    <span class="{{ 'badge tab-' ~ a.topic }}"></span>
    <span class="meta-tag">{{ a.topic }}</span> 
    <span class="badge" style="background-color: #03a83a;"></span>
    <span class="meta-tag">{{ a.pub_at | date(format="%b %d %Y") }}</span> 
    {%- set a_slug = a.slug -%}
    <a id="{{'up-' ~ a_slug}}" onclick="upVote('{{a_slug}}')" href="javascript:void(0);" title="upvote">
      <span class="triangle-up"></span>
    </a> 
    <span id="{{'vote-' ~ a_slug}}" class="meta-tag vote-num">{{ a.vote }}</span>&nbsp;&nbsp;
    <a onclick= "openLink('{{`/me/item/update/` ~ a_slug }}')" href="javascript:void(0);">..</a>&nbsp;
    <a id="{{'t-' ~ a_slug}}" onclick="toggleTop('{{a_slug}}')" href="javascript:void(0);" class="help-tips">
      {%- if a.is_top -%} ... {%- else -%} ::: {%- endif -%}
    </a>
  </div>
</section>
