{%- extends "base.html" -%}

{%- block title -%} About {%- endblock title -%}

{%- block banner -%} {%- endblock banner -%}

{%- block mainview -%}
<article class="main-page">
  <section id="about">
    <h1>About</h1>
    An Aggregator for Programmers.
  </section>
  <section id="privacy">
    <h1>Privacy Policy</h1>
    We won't collect or store or share any private information.
  </section>
  <section id="terms">
    <h1>Terms of Service</h1>
    <!-- <small>Last Updated: December 30, 2019</small><br> -->
    - Your access to and use of the Service is conditioned upon your acceptance 
    of and compliance with the Terms of Service. The terms of Service may change over time. <br>
    - We do our best to keep our service operational, but we cannot offer any guarantees.<br>
    - You own and are responsible for the content that you post.<br>
    - We do not control the content that user post and do not provide any assurances regarding its validity, reliability or accuracy.<br>
    - We will respond to any claim that Content posted on the Service infringes on the copyright or other intellectual property rights of any person or entity.<br>
    <br>
    <b>REMINDER:</b><br>
    We use Google Analytics tools, You can opt-out it, please visiting <a href="https://tools.google.com/dlpage/gaoptout"> Opt-out Google Analytics</a>
  </section>
  <!-- <section id="contact">
    <h1>Contact</h1>
    Contact us via email:
  </section> -->
</article>
{%- endblock mainview -%}
