<!doctype html>
<html lang="en">
{%- set hostDomain = 'Newdin' -%}
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/static/styles.css">
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" >
  <meta name="google-site-verification" content="" />
  {%- block head -%}
  <title>{%- block title -%} {{ title }}{%- endblock title -%} - {{ hostDomain }}</title>
  {%- block metaDescription -%}
  <meta name="description" content="Aggregated Blogs of Top Contributors To Rust, Golang, TypeScript, Angular ...">
  {%- endblock metaDescription -%}
  {%- endblock head -%}
</head>
<body>
{%- block body -%}
  <header class="header">
  {%- block header -%}
    <nav class="nav-menu">
    {%- block nav -%}
      <a href="/"><b class="logo">{{ hostDomain }}</b></a><sup class="logo-sup">beta</sup>
      <!--google site search -->
      <form id="Search" onsubmit="onSearch('q', 'g')" class="search-box">
        <input type="text" id="q" placeholder=" Search using Google " class="search-text"/>
      </form>
      <!--end google site search -->	
      <div class="right-menu">
        <a href="/me/" id="login-link"><b>Log in</b></a>
        <div class="menudown" id="menu-down" style="display: none">
          <button onclick="showMenu()" class="toolbtn">:-)</button>
          <div id="drop-menu" class="dropdown-content">
            <li><a href="#" id="profile-link"><b>My Profile</b></a></li>
          </div>
        </div> 
      </div>
    {%- endblock nav -%}
    </nav>
  {%- endblock header -%}
  </header>
  <div class="banner">
    <div class="banner-view">
      {%- for t in ["Rust", "Go", "TypeScript", "Angular", "Vue", "React"] -%}
        {%- if t == topic -%}
        <a class="{{ 'topic-tab-active tab-' ~ topic }}" href="{{ '/t/' ~ t ~ '/Article?page=1&perpage=42' }}">{{ t }}</a>
        {%- else -%}
        <a class="topic-tab" href="{{ '/t/' ~ t ~ '/Article?page=1&perpage=42' }}">{{ t }}</a>
        {%- endif -%}
      {%- endfor -%}
      <small class="help-tips">More coming soon...</small>
      <div class="menu-bar">
        {%- for t in ["Article", "Book", "Event", "Podcast", "Misc"] -%}
          {%- if t == ty -%}
          <a class="ty-tab-active" href="{{ t ~ '?page=1&perpage=42' }}">{{ t }}</a>
          {%- else -%}
          <a class="ty-tab" href="{{ t ~ '?page=1&perpage=42' }}">{{ t }}</a>
          {%- endif -%}
        {%- endfor -%}
      </div>
      <span>
        <img class="banner-thumb" src="{{ '/static/logo/' ~ topic ~ '.svg' }}" referrerPolicy="no-referrer">
      </span>
    </div>
  </div>
  <div class="main-view">
    {%- block mainview -%}{%- endblock mainview -%}
  </div>
  <footer class="footer">
  {%- block foot -%}
    <div class="bottom">
      ©{{ hostDomain }} Since 2020 | <a href="/about.html">About</a>
    </div><br>			
  {%- endblock foot -%}
  </footer>
{%- endblock body -%}
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/static/main.js"></script>
</body>
</html>
