{%- extends "base.html" -%}

{%- block title -%} Home {%- endblock title -%}

{%- block mainview -%}
<div class="main-page">
  <div class="home-view" id="ruts-in-home">
    {%- for a in articles -%}
    {% include '_article_sum.html' %}
    {%- endfor -%}
  </div>
  <button class="toolbtn full-width" onclick="loadMoreIndexRuts()">More</button>
  <div class="page-side">
    <h4 class="right-title">Top Contributors</h4>
    <div class="right-body">
      {%- for c in blogs -%}
      {{ c.aname }}<br>
      <a href = "{{c.tw_link}}">Twitter</a>
      <a href = "{{c.blog_link}}">Blog</a>
      <a href = "{{'/me/blog/update/' ~ c.id }}">edit</a>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- endblock mainview -%}
