{%- extends "base.html" -%}

{%- block title -%} Home {%- endblock title -%}

{%- block mainview -%}
<div class="main-page">
  <div class="home-view" id="ruts-in-home">
    {%- for rut in ruts -%}
    {% include '_rut_sum.html' %}
    {%- endfor -%}
    <!-- to be del -->
    <section class="rut-sum">
      <span class="title"><div>
          In ‘Small Fry,’ Steve Jobs Comes Across as a Jerk. His Daughter Forgives Him. Should We?
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.nytimes.com&#x2F;2018&#x2F;08&#x2F;23&#x2F;books&#x2F;steve-jobs-lisa-brennan-jobs-small-fry.html?_ga=2.40287714.151473738.1572303178-1791575906.1572303178" target="_blank" rel="noopener">
              | <span style="color: #37a">nytimes.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-in-small-fry-steve-jobs-comes-across-as-a-jerk-his-daughter-forgives-him-should-we-vBl4TeG6Sruj9CfGRH0sQ">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;41iteyyzC4L._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Lisa Brennan-Jobs has written a memoir about her famous father. The details are damning, but she doesn’t want them to be.</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          The Best CS Books
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.coderscat.com&#x2F;best-cs-books" target="_blank" rel="noopener">
              | <span style="color: #37a">coderscat.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-the-best-cs-books-wEnKisxuQhKWT4FNWjOROQ">
        <span>
          <img class="cover" src="" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Many similar questions comes from Quora like this: “How I can learn xxx in yyy months”. Usually ‘xxx’ is some specific fresh tec</div><span class="meta">...view</span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          The 20 essential L.A. crime books
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.latimes.com&#x2F;entertainment-arts&#x2F;books&#x2F;story&#x2F;2019-10-17&#x2F;la-noir-essential-crime-books" target="_blank" rel="noopener">
              | <span style="color: #37a">latimes.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-the-20-essential-l-a-crime-books-OlZoY3vLTwexm4zKcl0rjg">
        <span>
          <img class="cover" src="" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">In the spirit of exploring crime novels set in and around Los Angeles, a city where noir is instinctive and eerily resplendent, </div><span class="meta">...view</span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Julie Andrews Memoir: &#x27;Home Work&#x27; Tells a Hollywood Story
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.theatlantic.com&#x2F;entertainment&#x2F;archive&#x2F;2019&#x2F;10&#x2F;julie-andrews-memoir-home-work-tells-hollywood-story&#x2F;600031&#x2F;" target="_blank" rel="noopener">
              | <span style="color: #37a">theatlantic.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-julie-andrews-memoir-home-work-tells-a-hollywood-story-y7kWNnFTDqBUE0iKL2ePw">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;41e4K-H1IWL._SX329_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">In &lt;em&gt;Home Work&lt;&#x2F;em&gt;, the legendary actor comes to terms with an acting career she couldn’t always control.</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Book Review: In &#x27;The Less People Know About Us&#x27; A Mysterious Identity Theft Hits Close To Home
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.npr.org&#x2F;2019&#x2F;10&#x2F;20&#x2F;771358674&#x2F;in-the-less-people-know-about-us-a-mysterious-identity-theft-hits-close-to-home" target="_blank" rel="noopener">
              | <span style="color: #37a">npr.org</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-book-review-in-the-less-people-know-about-us-a-mysterious-identity-theft-hits-close-to-home-hE7zLdGFT96SGknZq5yHAg">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;515sSqOulSL._SX329_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">The Less People Know About Us: A Mystery of Betrayal, Family Secrets, and Stolen Identity is a memoir by way of a true-crime sto</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          How the great white predators stick together
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.theguardian.com&#x2F;books&#x2F;2019&#x2F;oct&#x2F;20&#x2F;catch-and-kill-ronan-farrow-review" target="_blank" rel="noopener">
              | <span style="color: #37a">theguardian.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-how-the-great-white-predators-stick-together-UqqYiV63Qam7LbkKuyRmg">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;www.littlebrown.com&#x2F;wp-content&#x2F;uploads&#x2F;2019&#x2F;06&#x2F;Farrow_CatchAndKill_HC.jpg?fit=436%2C675" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Ronan Farrow braved tough resistance to bring us his masterful account of a conspiracy of abusers reaching from Harvey Weinstein</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          No Smoking, Please
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.wsj.com&#x2F;articles&#x2F;the-cigarette-review-no-smoking-please-11570995702?mod=rsswn" target="_blank" rel="noopener">
              | <span style="color: #37a">wsj.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-no-smoking-please-ydpRZrv8QqG3WtmwmFud3w">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;41h52U7bviL._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">The cigarette was one of those small dragons, but a decrepit liberalism has laid it low. Sarah Milov’s “The Cigarette: A Politic</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Erudite and indispensable
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.telegraph.co.uk&#x2F;books&#x2F;what-to-read&#x2F;winds-change-britain-early-sixties-peter-hennessy-review-erudite&#x2F;" target="_blank" rel="noopener">
              | <span style="color: #37a">telegraph.co.uk</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-erudite-and-indispensable-AnZgw0W2Q7av5LzH9WwQ0g">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;41OduB9QfJL._SX323_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">This erudite history tells how Britain lost an empire, toyed with the Common Market and was rocked by Profumo, says Simon Heffer</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Ronan Farrow’s dark memoir puts the media at the center of intersecting conspiracies
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.washingtonpost.com&#x2F;outlook&#x2F;ronan-farrows-dark-memoir-puts-the-media-at-the-center-of-intersecting-conspiracies&#x2F;2019&#x2F;10&#x2F;14&#x2F;76a37068-ed0c-11e9-9306-47cb0324fd44_story.html" target="_blank" rel="noopener">
              | <span style="color: #37a">washingtonpost.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-ronan-farrow-s-dark-memoir-puts-the-media-at-the-center-of-intersecting-conspiracies-QU3MtwOvTlG6DAxFXa1rCQ">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;www.littlebrown.com&#x2F;wp-content&#x2F;uploads&#x2F;2019&#x2F;06&#x2F;Farrow_CatchAndKill_HC.jpg?fit=436%2C675" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">While political unrest roils the nation, left and right unite over a shared sense that nefarious elites plot to abuse and exploi</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Jung Chang: ‘To be a writer was the most dangerous profession’
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.theguardian.com&#x2F;books&#x2F;2019&#x2F;oct&#x2F;13&#x2F;jung-chang-mao-interview-big-sister-little-sister-red-sister" target="_blank" rel="noopener">
              | <span style="color: #37a">theguardian.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-jung-chang-to-be-a-writer-was-the-most-dangerous-profession-AxC6WKraRMCSgUdZlhkFg">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;51liCQlBbmL._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">The biographer of Mao on life during the Cultural Revolution, finding strength in her mother, and the sisters who helped shape m</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          It may be farewell, but not goodbye: Elton John has a lot left to say
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.latimes.com&#x2F;entertainment-arts&#x2F;music&#x2F;story&#x2F;2019-10-14&#x2F;elton-john-me-autobiography-farewell-tour" target="_blank" rel="noopener">
              | <span style="color: #37a">latimes.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-it-may-be-farewell-but-not-goodbye-elton-john-has-a-lot-left-to-say-nnMXrIeTSPyDtFl5vJayhg">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;tmg.dmmserver.com&#x2F;media&#x2F;356&#x2F;97815098&#x2F;9781509853311.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">As he continues his Farewell Yellow Brick Road tour, Elton John has also written his first autobiography, aptly titled “Me.”
    </div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          A Different Kind Of Journey — Into &#x27;The Body&#x27;
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.npr.org&#x2F;2019&#x2F;10&#x2F;14&#x2F;769324211&#x2F;bill-brysons-latest-is-a-different-kind-of-journey-into-the-body" target="_blank" rel="noopener">
              | <span style="color: #37a">npr.org</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-a-different-kind-of-journey-into-the-body-GGcc61ZyS6SoOC0VEP59A">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;41aIidpbKwL._SX340_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Bill Bryson is beloved for his travel writing, but his new book takes us not to Australia or to Europe or to Iowa, but on a jour</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          A graceful look back at her Hollywood years
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.latimes.com&#x2F;entertainment-arts&#x2F;books&#x2F;story&#x2F;2019-10-13&#x2F;julie-andrews-home-work-memoir" target="_blank" rel="noopener">
              | <span style="color: #37a">latimes.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-a-graceful-look-back-at-her-hollywood-years-gnPlj2vMQ3CQlLxGlZKwQQ">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;41e4K-H1IWL._SX329_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">After her breakthrough in “Mary Poppins,” Julie Andrews worried that taking the role of Maria in “The Sound of Music” might lead</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Thomas Edison’s Greatest Invention
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.theatlantic.com&#x2F;magazine&#x2F;archive&#x2F;2019&#x2F;11&#x2F;edmund-morris-edison&#x2F;598357&#x2F;" target="_blank" rel="noopener">
              | <span style="color: #37a">theatlantic.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-thomas-edison-s-greatest-invention-cRg1NmdFQICUdMzox29Caw">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images1.penguinrandomhouse.com&#x2F;cover&#x2F;9780812993110" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Thomas Alva Edison listened with his teeth. The inventor of the phonograph was completely deaf in one ear and could barely hear </div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          A Neglected Modern Masterpiece and Its Perverse Hero
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.newyorker.com&#x2F;magazine&#x2F;2019&#x2F;10&#x2F;21&#x2F;a-neglected-modern-masterpiece-and-its-perverse-hero" target="_blank" rel="noopener">
              | <span style="color: #37a">newyorker.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-a-neglected-modern-masterpiece-and-its-perverse-hero-PVRo1rF2TAW6O2049JmeIg">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;51mMyiuZa1L._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Imagine a novel about an ambitious, slightly coarse, provincial young man, determined to make his name in the capital city. He i</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Being a Child 101: “Coraline” and making the most out of demographics
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.stanforddaily.com&#x2F;2019&#x2F;10&#x2F;07&#x2F;being-a-child-101-coraline-and-making-the-most-out-of-demographics&#x2F;" target="_blank" rel="noopener">
              | <span style="color: #37a">stanforddaily.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-being-a-child-101-coraline-and-making-the-most-out-of-demographics-cqAMtGjlSGb5tJMfuHKdQ">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;51cFD7bn2HL._SX335_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Dear reader, I have come to a revelation: Children get all the best books. 
    
    And it’s not like I’m jealous — I’m not. I am ecsta</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          At the heart of 20th-century China
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.theguardian.com&#x2F;books&#x2F;2019&#x2F;oct&#x2F;12&#x2F;big-sister-little-sister-red-sister-jung-chang-review" target="_blank" rel="noopener">
              | <span style="color: #37a">theguardian.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-at-the-heart-of-20th-century-china-3123bEAiSwSIbEUAPL8nUA">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;51liCQlBbmL._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">A remarkable story of war, communism and espionage related with nuanced sympathy, but lacking reflection</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          &#x27;How We Fight For Our Lives&#x27; Is One Life Story That Finds Connection To Others
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.npr.org&#x2F;2019&#x2F;10&#x2F;14&#x2F;768755815&#x2F;how-we-fight-for-our-lives-is-one-life-story-that-finds-connection-to-others" target="_blank" rel="noopener">
              | <span style="color: #37a">npr.org</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-how-we-fight-for-our-lives-is-one-life-story-that-finds-connection-to-others-k4VMWauuQcm024gtkoJLuA">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;51xGdXs%2B6iL._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">As How We Fight for Our Lives is Saeed Jones&#x27; biography, it is a unique narrative of the events that shaped him.</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          &#x27;A Land of Permanent Goodbyes&#x27; offers shallow view of Syrian refugee crisis
          <span class="host">
            <a href ="https:&#x2F;&#x2F;www.stanforddaily.com&#x2F;2019&#x2F;08&#x2F;20&#x2F;a-land-of-permanent-goodbyes-offers-shallow-view-of-syrian-refugee-crisis&#x2F;" target="_blank" rel="noopener">
              | <span style="color: #37a">stanforddaily.com</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-a-land-of-permanent-goodbyes-offers-shallow-view-of-syrian-refugee-crisis-FZs2Kq0kTJyQh5qQsXDLHg">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;51llI6wROIL._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">Over the thousands of years of human history, we’ve left permanent marks on the bones of the Earth. We’ve managed to form civili</div><span class="meta">
          including 1 item
        </span></a>
    </section>
    <section class="rut-sum">
      <span class="title"><div>
          Book Review: &quot;The Testaments&quot;
          <span class="host">
            <a href ="http:&#x2F;&#x2F;ucsdguardian.org&#x2F;2019&#x2F;10&#x2F;13&#x2F;book-review-testaments&#x2F;" target="_blank" rel="noopener">
              | <span style="color: #37a">ucsdguardian.org</span>
            </a>
          </span>
        </div></span>
      <a href = "/rlist/r-book-review-the-testaments-Ou40lY7vSRyVlCWvXC7jA">
        <span>
          <img class="cover" src="https:&#x2F;&#x2F;images-na.ssl-images-amazon.com&#x2F;images&#x2F;I&#x2F;416V-X5x1mL._SY344_BO1,204,203,200_.jpg" referrerPolicy="no-referrer">
        </span>
        <div class="less-content">&lt;em&gt;A story anticipated for over 30 years, “The Testaments” offers three different perspectives of the dystopian world of Gilead</div><span class="meta">
          including 1 item
        </span></a>
    </section>
  </div>
  <button class="toolbtn full-width" onclick="loadMoreIndexRuts()">More</button>
  <div class="page-side">
    <h4 class="right-title">Yet Another Collection</h4>
    <div class="right-body">
      {%- for tag in tags -%}
      <a href = "{{'/tag/' ~ tag.id}}">{{ tag.tname }}</a><br>
      {%- endfor -%}
    </div>
  </div>
</div>
{%- endblock mainview -%}
