{% extends "base.html" %}

{%- block title -%} {{ item.title }} {%- endblock title -%}
{%- block banner -%} {%- endblock banner -%}

{%- block mainview -%}
<div class="main-page">
  <div class="page-main">
    <section class="item-view">
      {%- let a_url = item.clone().link -%}
      {%- let a_content = item.clone().content -%}
      {%- let a_author = item.clone().author|b64_encode -%}
      
      {%- let itmid = item.id -%}
      <a href ="{{ a_url }}" target="_blank" rel="noopener">
        <b class="title">{{ item.title }}</b>
        <span class="host"> | </span>
        <span style="color: #37a">{{ a_url|host }}</span>
      </a>
      <div class="item-meta">
        <span class="badge {{ item.ty }}"></span> <!-- type badge-->
        <span class="meta-tag">{{ item.ty }}</span> 
        <span class="badge-circle tab-{{ item.topic }}"></span> <!-- topic badge -->
        <span class="meta-tag">{{ item.topic }}</span>  
        <span class="badge-bead"></span> <!-- author badge-->
        <span class="meta-tag">{{ item.author }}</span>
        <span class="meta-tag">{{ item.pub_at|date_fmt("%b %d, %Y") }}</span> 
        <a onclick= "openLink('/edititem?id={{ itmid }}')" 
          href="javascript:void(0);" title="Edit"
        >...</a>&nbsp;&nbsp;
        <a id="t-{{ itmid }}" 
          onclick="toggleTop('{{ itmid }}')" 
          href="javascript:void(0);" class="help-tips hide-link">
          {%- if item.is_top -%} .. {%- else -%} ::: {%- endif -%}
        </a>
      </div>
      {%- let logo = item.logo.clone() -%}
      {%- if logo.len() > 0 -%}
      <span>
        <img class="item-img" src="{{ logo }}" loading="lazy" referrerPolicy="no-referrer">
      </span>
      {%- endif -%}
      <div id="md-item-content" class="item-md">{{ a_content|md|safe }}</div>
    </section>
  </div>
  <div class="page-side"></div>
</div>
{%- endblock mainview -%}
