.s-min-item-info {
  padding: 5px 85px 5px 10px;
  position: relative;
  min-height: 90px;
  border-bottom: 0.5px dashed #ddd;
}
.s-min-item-info .s-min-indicator {
  font-size: 0.6em;
  color:seagreen;
}
.s-min-item-info .s-min-item-meta {
  color: #aaa;
  font-size: 14px;
}
.s-min-item-info .s-min-item-thumb {
  position: absolute;
  max-width: 80px;
  max-height: 80px;
  top: 5px;
  right: 2px;
}
.s-min-item-thumb:hover {
  max-width: 210px;
  max-height: 210px;
  z-index: 999;
}
