<section class="s-item-info" *ngIf="item">
  <a [href] ="item.link" target="_blank" rel="noopener">
    <b class="title">{{ item.title }}</b>
    |
    <span style="color: #37a">{{ item.link | host }}</span>
    <div class="s-item-sum">{{ item.content | showLess }}</div>
  </a>
  <div class="s-item-meta">
    <span class="s-meta-tag">{{ item.ty }}</span> 
    <span class="s-meta-tag">{{ item.author }}</span>
    <span class="s-meta-tag">{{ item.topic }}</span> 
    <span class="s-meta-tag">{{ item.vote }}</span>&nbsp;&nbsp;
    <a href= "{{'/item/update/' + item.slug }}">..</a>&nbsp;
  </div>
</section>
