<div class="s-min-item-info" *ngIf="item">
  <!-- <sup class="s-min-indicator" *ngIf="order">#{{order}}&nbsp;</sup>  -->
  <a [href]="to_url + item.slug">{{ item.title }}</a>
  <small class="s-min-item-meta">
    <br>{{item.category}} |&nbsp;{{item.uiid}} |&nbsp;{{item.authors}} |&nbsp;{{item.pub_at}}
  </small>
  <button nz-button nzSize="small" nzType="link" nz-dropdown [nzDropdownMenu]="menu">:::</button>
  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-menu-item><a [routerLink]="'/item/listed/' + item.slug"><b style="color:orange">Add To List</b></a></li>
      <li nz-menu-item (click)="flagItem(1)">Todo</li>
      <li nz-menu-item (click)="flagItem(2)">Doing</li>
      <li nz-menu-item (click)="flagItem(3)">Done</li>
    </ul>
  </nz-dropdown-menu>
  <span>
    <img class="s-min-item-thumb" [src]="item.cover" referrerPolicy="no-referrer">
  </span>
</div>
